h1 {
    color: rgba(0,200,100, 0.4);
    /*border-color: purple;*/
    /*border-width: 5px;*/
    /*border-style: solid;*/

    /* shortcut */
    border: 2px solid rgb(255, 100, 80);
}

li {
    color: green;
}

h4 {
    color: purple;
    background: rgb(255, 100, 80);
}

body {
    background: url(https://cdn.pixabay.com/photo/2017/05/21/15/14/balloon-2331488_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}